In [8]:
import requests
import matplotlib.pyplot as plt
from IPython.display import Image
import pandas as pd
import json
import geopandas as gpd
import folium
from folium.plugins import MarkerCluster
from folium.plugins import FastMarkerCluster
from shapely.geometry import Point
import numpy as np
import statsmodels.api as sm
import statsmodels.formula.api as smf
import seaborn as sns
from patsy import dmatrices

### Establishing endpoint and parameters, submit api request, and converting to json

In [9]:
endpoint = "https://data.nashville.gov/resource/2u6v-ujjs.json?$limit=50000"

params = {'$where' : "incident_reported between '2021-01-13T00:00:00.000' and '2021-06-30T00:00:00.000'", 
}

In [10]:
response = requests.get(endpoint, params)

In [11]:
res = response.json()

### Converting response to a dataframe and cleanup
##### Modified 'incident_reported' column to only include date 
###### Converted latitude and longitude from objects to floats

In [12]:
res_trimmed = pd.DataFrame(res, columns=['incident_reported', 'offense_description', 'latitude', 'longitude', 'zip_code'])

res_trimmed['incident_reported'] = res_trimmed['incident_reported'].str.split("T", expand=True)[0]

burglary_reports = res_trimmed[res_trimmed['offense_description'].str.contains('BURGLARY- AGGRAVATED')]

burglary_reports.head()

    incident_reported   offense_description latitude longitude zip_code
199        2021-01-13  BURGLARY- AGGRAVATED    36.06    -86.95      NaN
310        2021-01-14  BURGLARY- AGGRAVATED    36.19    -86.75      NaN
434        2021-01-14  BURGLARY- AGGRAVATED    36.18    -86.75      NaN
450        2021-01-14  BURGLARY- AGGRAVATED    36.04    -86.73      NaN
495        2021-01-14  BURGLARY- AGGRAVATED    36.16    -86.85      NaN

In [13]:
burglary_reports[['latitude', 'longitude']] = burglary_reports[['latitude', 'longitude']].apply(pd.to_numeric);

burglary_reports.shape

C:\Users\Conrad\anaconda3\envs\geospatial\lib\site-packages\pandas\core\frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

(984, 5)

In [15]:
burglary_reports.to_csv("../geospatial_api-silver-sharks/data/burglary_reports.csv")

      incident_reported   offense_description  latitude  longitude zip_code
199          2021-01-13  BURGLARY- AGGRAVATED    36.060    -86.950      NaN
310          2021-01-14  BURGLARY- AGGRAVATED    36.190    -86.750      NaN
434          2021-01-14  BURGLARY- AGGRAVATED    36.180    -86.750      NaN
450          2021-01-14  BURGLARY- AGGRAVATED    36.040    -86.730      NaN
495          2021-01-14  BURGLARY- AGGRAVATED    36.160    -86.850      NaN
...                 ...                   ...       ...        ...      ...
48578        2021-06-29  BURGLARY- AGGRAVATED    36.210    -86.830      NaN
48605        2021-06-29  BURGLARY- AGGRAVATED    36.178    -86.598    37076
48714        2021-06-29  BURGLARY- AGGRAVATED    36.160    -86.800      NaN
48805        2021-06-29  BURGLARY- AGGRAVATED    36.040    -86.660      NaN
48865        2021-06-29  BURGLARY- AGGRAVATED    36.080    -86.700      NaN

[984 rows x 5 columns]